* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	display: table;
	width: auto;
}
input {
	display: inline-block;
}
input[type="checkbox"] {
	vertical-align: top;
}
#chart-body {
	display: inline-block;
}
#chart1 {
	stroke-width: 2;
	fill: none;
	transform: scale(1, -1);
}
#input-start {
	height: 400px;
	width: 20px;
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}
#input-end {
	height: 400px;
	width: 20px;
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}
#controls-r {
	display: inline-block;
}
#controls-t {
	width: auto;
	height: 20px;
	padding-right: 50px;
	vertical-align: middle;
}
#input-shape {
	height: 20px;
	width: 200px;
	vertical-align: top;
	direction: rtl;
}
#shape-value {
	height: 20px;
	width: 30px;
	font-size: 13px;
	font-family: Helvetica, Times;
}
